<!doctype html>
<html lang="en">

  <head>
    <title>IMMATER LIMITED</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../assets/fonts/icomoon/style.css">

    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="../assets/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="../assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../assets/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="../assets/css/aos.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="../assets/css/style.css">

  </head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    
    <div class="site-wrap" id="home-section">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>



      <!-- header -->
      <%- include('./bars/topbar') %>

    
    <div class="site-section">  
      <div class="container">
        <div class="row">
          <div class="col-md-5 pr-md-5 mr-auto">
            <h2 class="line-bottom">Quality</h2>
            <p>According to our watch word, quality is essential to us and part of our distinguishing attributes.
                We will make sure to input high quality materials, dedication and professionality in every job.</p>
          </div>
          <div class="col-md-6">
            <div class="quick-contact-form bg-white">
                <h2>Call to Action</h2>
                <form action="#" method="">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Name">
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email">
                  </div>
                  <div class="form-group">
                    <textarea name="" class="form-control" id="" cols="30" rows="5" placeholder="Message"></textarea>
                  </div>
                  <div class="form-group">
                    <input type="submit" value="Send Message" class="btn btn-primary px-5">
                  </div>
                </form>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section" style="background-color: #dedffe;">
      <div class="container">
        <div class="col-md-4 mx-auto">
          <h4 class="line-bottom text-center">Services </h4>
        </div>
        <div class="row align-items-stretch">
          
          
        
          <% services.forEach((item) => { %>
            
          <div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
            <div class="service-2 h-100" style="background-image: url('<%=item.img%>')">
              <div class="svg">
                <!-- <img src="images/flaticon/svg/004-house-plan.svg" alt="Image" class=""> -->
              </div>
              <br><br><br><br><br>
              <h3 class="block"><span><%= item.title%></span></h3>
              
            </div>
          </div>
          
          <% })%>
        
          
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        
        <div class="row mb-5">
          <div class="col-md-4 mr-auto">
            <h2 class="line-bottom">Our Technologies</h2>
          </div>
          <div class="col-md-8 text-right">
            <nav class="custom-tab nav" role="tablist"  class="nav nav-tabs" id="nav-tab" role="tablist">
              <a href="#nav-one" class="nav-item nav-link active" data-toggle="tab" role="tab"  aria-controls="nav-one" aria-selected="true">AHT</a>
              <a href="#nav-two" class="nav-item nav-link" data-toggle="tab" role="tab" aria-controls="nav-two" aria-selected="false">SSPT</a>
              <a href="#nav-three" class="nav-item nav-link" data-toggle="tab" role="tab" aria-controls="nav-three" aria-selected="false">EAM</a>
              <a href="#nav-four" class="nav-item nav-link" data-toggle="tab" role="tab" aria-controls="nav-three" aria-selected="false">CRM</a>
            </nav>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-one" role="tabpanel" aria-labelledby="nav-one-tab">
                <div class="row">
                  <div class="col-md-7">
                    <img src="../assets/images/hero_1.jpg" alt="Image" class="img-fluid">
                  </div>
                  <div class="col-md-4 ml-auto">
                    <h2 class="line-bottom">ADVANCE HVAC TECHNOLOGY</h2>
                    <p>Before the pandemic, space the executives principally spun around expanding inhabitance and limiting expenses. While those are as yet significant worries, the needs have changed to zero in more on further developing by and large space use and space quality to make the most ideal experience for representatives who may not be in the workplace consistently. At the point when workers return to the workplace, they would essentially prefer not to sit side by side as they might have previously. Their most noteworthy need will be to have a good sense of reassurance, both genuinely and mentally. Simultaneously, business pioneers need to represent the way that the labor force will probably utilize office land in an unexpected way. They might have to reconfigure a few spaces or make different spaces reservable rather than relegated to explicit representatives.
                    </p>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-two" role="tabpanel" aria-labelledby="nav-two-tab">
                <div class="row">
                  <div class="col-md-7">
                    <img src="../assets/images/hero_2.jpg" alt="Image" class="img-fluid">
                  </div>
                  <div class="col-md-4 ml-auto">
                    <h2 class="line-bottom">STRATEGIC SPACE PLANNING TOOLS </h2>
                    <p>Before the pandemic, space the executives principally spun around expanding inhabitance and limiting expenses. While those are as yet significant worries, the needs have changed to zero in more on further developing by and large space use and space quality to make the most ideal experience for representatives who may not be in the workplace consistently. At the point when workers return to the workplace, they would essentially prefer not to sit side by side as they might have previously. Their most noteworthy need will be to have a good sense of reassurance, both genuinely and mentally. Simultaneously, business pioneers need to represent the way that the labor force will probably utilize office land in an unexpected way. They might have to reconfigure a few spaces or make different spaces reservable rather than relegated to explicit representatives.</p>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-three" role="tabpanel" aria-labelledby="nav-three-tab">
                <div class="row">
                  <div class="col-md-7">
                    <img src="../assets/images/hero_3.jpg" alt="Image" class="img-fluid">
                  </div>
                  <div class="col-md-4 ml-auto">
                    <h2 class="line-bottom">ENTERPRISE ASSET MANAGEMENT (EAM) SOFTWARE</h2>
                    <p>for overseeing structures and the representative experience, we as office pioneers are liable for overseeing resources and adding to capital preparation and buying. To do this successfully, admittance to information that permits us to play out an expense investigation and decide if it seems OK to fix or supplant maturing building frameworks or gear.

                        We want unmistakable responses to whether or not to purchase or rent. We additionally need to expand the existence of their structures and gear however much as could reasonably be expected. Venture resource the executives programming combines information on each claimed or rented resource into one spot and makes it noteworthy. It makes it simple to work out resource execution in light of runtime while likewise putting away information on past reviews, disappointments, and fixes so we can pursue choices with all the data readily available. We can likewise plan preventive upkeep exercises, relegate work requests, and lead reviews anyplace.</p>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-four" role="tabpanel" aria-labelledby="nav-three-tab">
                <div class="row">
                  <div class="col-md-7">
                    <img src="../assets/images/hero_3.jpg" alt="Image" class="img-fluid">
                  </div>
                  <div class="col-md-4 ml-auto">
                    <h2 class="line-bottom">CUSTOMER RELATIONSHIP MANAGEMENT (CRM)</h2>
                    <p>Client relationship management make it simpler and more effective to speak with existing clients and potential clients so to provide them with the administrations they need.

                        CRM devices solidify every one of the messages we get across our correspondence channels. Accordingly, we won't miss any messages, and we can without much of a stress return to past cooperation. One more benefit of CRM apparatuses is their computerization abilities, for example, chatbots, information data sets, and ticket sending.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section bg-light">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-4 mx-auto">
            <h2 class="line-bottom text-center">Testimonials</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="testimonial-3">
              <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure id accusantium similique temporibus nihil blanditiis adipisci aperiam, sapiente suscipit vero.</blockquote>
              <div class="vcard d-flex align-items-center">
                <div class="img-wrap mr-3">
                  <img src="../assets/images/person_1.jpg" alt="Image" class="img-fluid">
                </div>
                <div>
                  <span class="d-block">John Smith</span>
                  <span class="position">Client From Facebook</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="testimonial-3">
              <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure id accusantium similique temporibus nihil blanditiis adipisci aperiam, sapiente suscipit vero.</blockquote>
              <div class="vcard d-flex align-items-center">
                <div class="img-wrap mr-3">
                  <img src="../assets/images/person_2.jpg" alt="Image" class="img-fluid">
                </div>
                <div>
                  <span class="d-block">John Smith</span>
                  <span class="position">Client From Facebook</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="site-section">
      <div class="container">
        <div class="row mb-4">

          <div class="col-md-4 mx-auto">
            <h2 class="line-bottom text-center">Our Projects</h2>
          </div>

        </div>

        <div class="row">
          <div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
            <div class="project-item">

              <img src="../assets/images/img_1.jpg" alt="Image" class="img-fluid">
              
              <div class="project-item-overlay">
                <a class="category" href="#">Renovate</a>
                <span class="plus">
                  <span class="icon-plus"></span>
                </span>

                <a href="#" class="project-title"><span>Renovate the house</span></a>
              </div>

            </div>
          </div>

          <div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
            <div class="project-item">

              <img src="../assets/images/img_2.jpg" alt="Image" class="img-fluid">
              
              <div class="project-item-overlay">
                <a class="category" href="#">Renovate</a>
                <span class="plus">
                  <span class="icon-plus"></span>
                </span>

                <a href="#" class="project-title"><span>Renovate the house 2</span></a>
              </div>

            </div>
          </div>

          <div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
            <div class="project-item">

              <img src="../assets/images/img_3.jpg" alt="Image" class="img-fluid">
              
              <div class="project-item-overlay">
                <a class="category" href="#">Renovate</a>
                <span class="plus">
                  <span class="icon-plus"></span>
                </span>

                <a href="#" class="project-title"><span>Renovate the house 2</span></a>
              </div>

            </div>
          </div>

          <div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
            <div class="project-item">

              <img src="../assets/images/img_4.jpg" alt="Image" class="img-fluid">
              
              <div class="project-item-overlay">
                <a class="category" href="#">Renovate</a>
                <span class="plus">
                  <span class="icon-plus"></span>
                </span>

                <a href="#" class="project-title"><span>Renovate the house</span></a>
              </div>

            </div>
          </div>

          <div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
            <div class="project-item">

              <img src="../assets/images/img_1.jpg" alt="Image" class="img-fluid">
              
              <div class="project-item-overlay">
                <a class="category" href="#">Renovate</a>
                <span class="plus">
                  <span class="icon-plus"></span>
                </span>

                <a href="#" class="project-title"><span>Renovate the house 2</span></a>
              </div>

            </div>
          </div>

          <div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
            <div class="project-item">

              <img src="../assets/images/img_2.jpg" alt="Image" class="img-fluid">
              
              <div class="project-item-overlay">
                <a class="category" href="#">Renovate</a>
                <span class="plus">
                  <span class="icon-plus"></span>
                </span>

                <a href="#" class="project-title"><span>Renovate the house 2</span></a>
              </div>

            </div>
          </div>



        </div>
      </div>
    </div> -->

    <div class="site-section">
      <div class="container">
        <div class="row mb-4">

          <div class="col-md-4 mx-auto">
            <h2 class="line-bottom text-center">Our Blog</h2>
          </div>

        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="post-entry-1 h-100">
              <a href="/blog_single">
                <img src="../assets/images/img_4.jpg" alt="Image"
                 class="img-fluid">
              </a>
              <div class="post-entry-1-contents">
                
                <h2><a href="/blog_single">We Are Leader In The Construction World</a></h2>
                <span class="meta d-inline-block mb-3">July 17, 2019 <span class="mx-2">by</span> <a href="#">Admin</a></span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eos soluta, dolore harum molestias consectetur.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="post-entry-1 h-100">
              <a href="/blog_single">
                <img src="../assets/images/img_2.jpg" alt="Image"
                 class="img-fluid">
              </a>
              <div class="post-entry-1-contents">
                
                <h2><a href="/blog_single">We Are Leader In The Construction World</a></h2>
                <span class="meta d-inline-block mb-3">July 17, 2019 <span class="mx-2">by</span> <a href="#">Admin</a></span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eos soluta, dolore harum molestias consectetur.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="post-entry-1 h-100">
              <a href="/blog_single">
                <img src="../assets/images/img_3.jpg" alt="Image"
                 class="img-fluid">
              </a>
              <div class="post-entry-1-contents">
                
                <h2><a href="/blog_single">We Are Leader In The Construction World</a></h2>
                <span class="meta d-inline-block mb-3">July 17, 2019 <span class="mx-2">by</span> <a href="#">Admin</a></span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eos soluta, dolore harum molestias consectetur.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <!-- footer -->
    <%- include('./bars/footer') %>

    </div>

    <script src="../assets/js/jquery-3.3.1.min.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/owl.carousel.min.js"></script>
    <script src="../assets/js/jquery.sticky.js"></script>
    <script src="../assets/js/jquery.waypoints.min.js"></script>
    <script src="../assets/js/jquery.animateNumber.min.js"></script>
    <script src="../assets/js/jquery.fancybox.min.js"></script>
    <script src="../assets/js/jquery.easing.1.3.js"></script>
    <script src="../assets/js/bootstrap-datepicker.min.js"></script>
    <script src="../assets/js/aos.js"></script>

    <script src="../assets/js/main.js"></script>

  </body>

</html>

