<!doctype html>
<html lang="en">

  <head>
    <title>IMMATER LIMITED</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../assets/fonts/icomoon/style.css">

    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="../assets/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="../assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../assets/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="../assets/css/aos.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="../assets/css/style.css">

  </head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    
    <div class="site-wrap" id="home-section">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>



      <%- include('./bars/topbar') %>


      <!-- <div class="ftco-blocks-cover-1">
      <div class="ftco-cover-1 overlay innerpage" style="background-image: url('images/construction2.jpeg')">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <h1>Our Services</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    
    
    <div class="site-section" style="background-color: #dedffe;">
      <div class="container">
        <div class="col-md-4 mx-auto">
          <h4 class="line-bottom text-center">Services </h4>
        </div>
        <div class="row align-items-stretch">
          
          <div class="col-md-6 mb-5 mb-lg-5 col-lg-4" >
            <div class="service-2 h-100" style="background-image: url('../assets/images/coldroomequipment.jpeg')">
              <div class="svg">
                <!-- <img src="images/flaticon/svg/001-renovation.svg" alt="Image" class=""> -->
              </div>
              <br><br><br>
              <h3><span>Cold Room Equipment</span></h3>
              <p>Consectetur adipisicing elit. Numquam repellendus aut labore</p>

            </div>
          </div>
          <div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
            <div class="service-2 h-100" style="background-image: url('../assets/images/cleaningservice2.jpeg')">
              <div class="svg">
                <!-- <img src="images/flaticon/svg/002-shovel.svg" alt="Image" class=""> -->
              </div>
              <br><br><br>
              <h3><span>Cleaning Service</span></h3>
              <p>Consectetur adipisicing elit. Numquam repellendus aut labore</p>

            </div>
          </div>
          <div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
            <div class="service-2 h-100" style="background-image: url('../assets/images/construction2.jpeg')">
              <div class="svg">
                <!-- <img src="images/flaticon/svg/003-bulldozer.svg" alt="Image" class=""> -->
              </div>
              <br><br><br>
              <h3><span>Building Construction</span></h3>
              <p>Consectetur adipisicing elit. Numquam repellendus aut labore</p>

            </div>
          </div>


          <div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
            <div class="service-2 h-100" style="background-image: url('../assets/images/alignmentofworkspace2.jpeg')">
              <div class="svg">
                <!-- <img src="images/flaticon/svg/004-house-plan.svg" alt="Image" class=""> -->
              </div>
              <br><br>
              <h3><span>Alignment of Workspace</span></h3>
              <p>Consectetur adipisicing elit. Numquam repellendus aut labore</p>

            </div>
          </div>
          <div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
            <div class="service-2 h-100" style="background-image: url('../assets/images/planninganddesignofofficespace.jpeg')">
              <div class="svg">
                <!-- <img src="images/flaticon/svg/005-fence.svg" alt="Image" class=""> -->
              </div>
              <br><br>
              <h3><span>Planning and Design of Office Space</span></h3>
              <p>Consectetur adipisicing elit. Numquam repellendus aut labore</p>

            </div>
          </div>
          <div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
            <div class="service-2 h-100" style="background-image: url('../assets/images/plumbing services.jpeg')">
              <div class="svg">
                <!-- <img src="images/flaticon/svg/006-wheelbarrow.svg" alt="Image" class=""> -->
              </div>
              <br><br>
              <h3><span>Plumbing Services</span></h3>
              <p>Consectetur adipisicing elit. Numquam repellendus aut labore</p>

            </div>
          </div>
          
        </div>
      </div>
    </div>

    
    <div class="site-section bg-light">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-4 mx-auto">
            <h2 class="line-bottom text-center">Testimonials</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="testimonial-3">
              <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure id accusantium similique temporibus nihil blanditiis adipisci aperiam, sapiente suscipit vero.</blockquote>
              <div class="vcard d-flex align-items-center">
                <div class="img-wrap mr-3">
                  <img src="../assets/images/person_1.jpg" alt="Image" class="img-fluid">
                </div>
                <div>
                  <span class="d-block">John Smith</span>
                  <span class="position">Client From Facebook</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="testimonial-3">
              <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure id accusantium similique temporibus nihil blanditiis adipisci aperiam, sapiente suscipit vero.</blockquote>
              <div class="vcard d-flex align-items-center">
                <div class="img-wrap mr-3">
                  <img src="../assets/images/person_2.jpg" alt="Image" class="img-fluid">
                </div>
                <div>
                  <span class="d-block">John Smith</span>
                  <span class="position">Client From Facebook</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    

    <%- include('./bars/footer') %>

    </div>

    <script src="../assets/js/jquery-3.3.1.min.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/owl.carousel.min.js"></script>
    <script src="../assets/js/jquery.sticky.js"></script>
    <script src="../assets/js/jquery.waypoints.min.js"></script>
    <script src="../assets/js/jquery.animateNumber.min.js"></script>
    <script src="../assets/js/jquery.fancybox.min.js"></script>
    <script src="../assets/js/jquery.easing.1.3.js"></script>
    <script src="../assets/js/bootstrap-datepicker.min.js"></script>
    <script src="../assets/js/aos.js"></script>

    <script src="../assets/js/main.js"></script>

  </body>

</html>

