<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2 class="footer-heading mb-4">About Us</h2>
              <p>IMMATER LIMITED is a facilities management company established on October 11th, 2011 and has been in existence for 11years, Our experience and client satisfactory policy has made us one of the best in the society.
                Immature Limited operations include; alignment of space, infrastructure and business processes of an organization,  planning and design of a workplace, construction, lease management, maintenance, cleaning services, major repair of cold room equipment e.g deep freezers, industrial compressors etc. information technology management and consultancy services.
                We are also expert in sales, after-sales services, repairs, overhauling and preventive maintenance of diesel engines (LFO), building and maintenance of electrical automatic panels, electrical load transfer systems, fuel supply system, and diesel tank.</p>
        </div>
        <div class="col-lg-4 ml-auto">
          <div class="row">
            <div class="col-lg-3">
              <h2 class="footer-heading mb-4">Quick Links</h2>
              <ul class="list-unstyled">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Testimonials</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </div>
            
          </div>
        </div>
      </div>
      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <div class="border-top pt-5">
            <p>
          
          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | IMMATER LIMITED</a>
          
          </p>
          </div>
        </div>

      </div>
    </div>
  </footer>